---
title: 8000038 GDPR alt Hesap doğrulama
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 993797d951dddea20d7df24ad40b5834a537852a
ms.sourcegitcommit: dd43cc0a9470f98b8ef2a3787c823801d674c666
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 02/12/2019
ms.locfileid: "29919964"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Microsoft hesabınızda görüntülenen doğum tarihi doğru değil

Microsoft, güvenlik hesabı çok ciddiye alır. Size son bir çocuğun Microsoft hesap için Ebeveyn onay vermeniz soruluyor. Ebeveyn onayı sağlama veya güncelleştirme Microsoft hesabında doğum tarihi yardıma gereksinim duyarsanız, [yaş doğrulaması için Ebeveyn izin](https://go.microsoft.com/fwlink/p/?linkid=874364)bakın.
  
[Ebeveyn onayı ve Microsoft alt hesapları](https://go.microsoft.com/fwlink/p/?linkid=874365)hakkında daha fazla bilgi edinin.
  

