---
title: EDU doğrulama
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205287"
---
# <a name="edu-verification"></a><span data-ttu-id="49439-102">EDU doğrulama</span><span class="sxs-lookup"><span data-stu-id="49439-102">EDU verification</span></span>

<span data-ttu-id="49439-103">Çoğu durumda, akademik uygunluk talepleri 24-48 saat içinde işlenir.</span><span class="sxs-lookup"><span data-stu-id="49439-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="49439-104">Bazı istekler daha ayrıntılı inceleme gerektirebilir ve işlenmesi 10 iş günü kadar sürebilir.</span><span class="sxs-lookup"><span data-stu-id="49439-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="49439-105">Tamamlandıktan sonra, okulunuzun uygunluk durumunu içeren bir e-posta göndereceğiz.</span><span class="sxs-lookup"><span data-stu-id="49439-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="49439-106">**Önemli** Bir etki alanına girmeden önce doğrulama sihirbazından çıktıysanız, ücretsiz deneme süreniz boyunca istediğiniz zaman [akademik doğrulama sihirbazına devam](https://go.microsoft.com/fwlink/p/?linkid=2135255) edebilirsiniz.</span><span class="sxs-lookup"><span data-stu-id="49439-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="49439-107">Etki alanınızın durumunu denetlemek istiyorsanız, [Microsoft 365 yönetici merkezine](https://go.microsoft.com/fwlink/p/?linkid=2024339)gidin.</span><span class="sxs-lookup"><span data-stu-id="49439-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="49439-108">Ana sayfada, alta doğru ilerleyin ve **Fatura kartını** bulun.</span><span class="sxs-lookup"><span data-stu-id="49439-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="49439-109">**Faturakartı** doğrulama işleminin durumunu gösterir (onaylanan, beklemede olan, reddedilen veya etki alanınızın eklediğini).</span><span class="sxs-lookup"><span data-stu-id="49439-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="49439-110">Talebiniz reddedilirse, [bkz. Şimdi ne yapacağım?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="49439-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>