---
title: EDU doğrulaması
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814392"
---
# <a name="edu-verification"></a><span data-ttu-id="ea432-102">EDU doğrulaması</span><span class="sxs-lookup"><span data-stu-id="ea432-102">EDU verification</span></span>

<span data-ttu-id="ea432-103">Çoğu durumda, akademik uygunluk istekleri 24-48 saat içinde işlenir.</span><span class="sxs-lookup"><span data-stu-id="ea432-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="ea432-104">Bazı istekler daha kapsamlı inceleme gerektirir ve işlemesi 10 iş günü kadar da olabilir.</span><span class="sxs-lookup"><span data-stu-id="ea432-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="ea432-105">Tamamlandığında, okul uygunluk durumunu içeren bir e-posta göndeririz.</span><span class="sxs-lookup"><span data-stu-id="ea432-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="ea432-106">**Önemli** Etki alanına girmeden önce doğrulama sihirbazından çıktıysanız ücretsiz denemeniz sırasında akademik doğrulama [sihirbazını](https://go.microsoft.com/fwlink/p/?linkid=2135255) istediğiniz zaman sürdürebilirsiniz.</span><span class="sxs-lookup"><span data-stu-id="ea432-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="ea432-107">Etki alanınız durumunu kontrol etmek için Microsoft [365 yönetim merkezine gidin.](https://go.microsoft.com/fwlink/p/?linkid=2024339)</span><span class="sxs-lookup"><span data-stu-id="ea432-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="ea432-108">Giriş sayfasında, ekranı en alta kaydırın ve **Fatura** kartını bulun.</span><span class="sxs-lookup"><span data-stu-id="ea432-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="ea432-109">Fatura **kartı** doğrulama işleminin durumunu gösterir (onaylandı, beklemede, reddedildi veya etki alanınızı ekleme).</span><span class="sxs-lookup"><span data-stu-id="ea432-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="ea432-110">İsteğiniz reddedildiyse [bkz. Okulum uygun değil. Şimdi ne yapabilirim?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="ea432-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>