---
title: EDU doğrulama
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205287"
---
# <a name="edu-verification"></a>EDU doğrulama

Çoğu durumda, akademik uygunluk talepleri 24-48 saat içinde işlenir. Bazı istekler daha ayrıntılı inceleme gerektirebilir ve işlenmesi 10 iş günü kadar sürebilir. Tamamlandıktan sonra, okulunuzun uygunluk durumunu içeren bir e-posta göndereceğiz.

**Önemli** Bir etki alanına girmeden önce doğrulama sihirbazından çıktıysanız, ücretsiz deneme süreniz boyunca istediğiniz zaman [akademik doğrulama sihirbazına devam](https://go.microsoft.com/fwlink/p/?linkid=2135255) edebilirsiniz.

Etki alanınızın durumunu denetlemek istiyorsanız, [Microsoft 365 yönetici merkezine](https://go.microsoft.com/fwlink/p/?linkid=2024339)gidin. Ana sayfada, alta doğru ilerleyin ve **Fatura kartını** bulun. **Faturakartı** doğrulama işleminin durumunu gösterir (onaylanan, beklemede olan, reddedilen veya etki alanınızın eklediğini).

Talebiniz reddedilirse, [bkz. Şimdi ne yapacağım?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)