---
title: EDU doğrulaması
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946799"
---
# <a name="edu-verification"></a>EDU doğrulaması

Çoğu durumda, akademik uygunluk istekleri 24-48 saat içinde işlenir. Bazı istekler daha kapsamlı inceleme gerektirir ve işlemesi 10 iş günü kadar da olabilir. Tamamlandığında, okul uygunluk durumunu içeren bir e-posta göndeririz.

**Önemli** Etki alanına girmeden önce doğrulama sihirbazından çıktıysanız ücretsiz denemeniz sırasında akademik doğrulama [sihirbazını](https://go.microsoft.com/fwlink/p/?linkid=2135255) istediğiniz zaman sürdürebilirsiniz.

Etki alanınız durumunu kontrol etmek için Etki Alanı [Yöneticisi'ne Microsoft 365 yönetim merkezi.](https://go.microsoft.com/fwlink/p/?linkid=2024339) Giriş sayfasında, ekranı en alta kaydırın ve **Fatura** kartını bulun. Fatura **kartı** doğrulama işleminin durumunu gösterir (onaylandı, beklemede, reddedildi veya etki alanınızı ekleme).

İsteğiniz reddedildiyse [bkz. Okulum uygun değil. Şimdi ne yapabilirim?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)