---
title: 8000038 GDPR alt Hesap doğrulama
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524431"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Microsoft hesabınızda görüntülenen doğum tarihi doğru değil

Microsoft, güvenlik hesabı çok ciddiye alır. Size son bir çocuğun Microsoft hesap için Ebeveyn onay vermeniz soruluyor. Ebeveyn onayı sağlama veya güncelleştirme Microsoft hesabında doğum tarihi yardıma gereksinim duyarsanız, [yaş doğrulaması için Ebeveyn izin](https://go.microsoft.com/fwlink/p/?linkid=874364)bakın.
  
[Ebeveyn onayı ve Microsoft alt hesapları](https://go.microsoft.com/fwlink/p/?linkid=874365)hakkında daha fazla bilgi edinin.
  