---
title: 8000038 GDPR alt Hesap doğrulama
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 035004602a439335380ec72ea65fd1bd70ebbf0d
ms.sourcegitcommit: 5fb7a4b28859690020efdea630d03e70cc0e6334
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 06/28/2019
ms.locfileid: "35387077"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="82261-102">Microsoft hesabınızda görüntülenen doğum tarihi doğru değil</span><span class="sxs-lookup"><span data-stu-id="82261-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="82261-103">Microsoft, güvenlik hesabı çok ciddiye alır.</span><span class="sxs-lookup"><span data-stu-id="82261-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="82261-104">Size son bir çocuğun Microsoft hesap için Ebeveyn onay vermeniz soruluyor.</span><span class="sxs-lookup"><span data-stu-id="82261-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="82261-105">Ebeveyn onayı sağlama veya güncelleştirme Microsoft hesabında doğum tarihi yardıma gereksinim duyarsanız, [yaş doğrulaması için Ebeveyn izin](https://go.microsoft.com/fwlink/p/?linkid=874364)bakın.</span><span class="sxs-lookup"><span data-stu-id="82261-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="82261-106">[Ebeveyn onayı ve Microsoft alt hesapları](https://go.microsoft.com/fwlink/p/?linkid=874365)hakkında daha fazla bilgi edinin.</span><span class="sxs-lookup"><span data-stu-id="82261-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  