---
title: 8000038 GDPR çocuk hesabı doğrulama
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 04/22/2020
ms.locfileid: "43765000"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Microsoft hesabınızda görüntülenen doğum tarihi yanlış

Microsoft, hesap güvenliğini çok ciddiye alır. Yakın zamanda bir çocuğun Microsoft hesabı için ebeveyn onayı vermeniz istelenmiş olabilir. Ebeveyn onayı sağlamak veya bir Microsoft hesabında doğum tarihini güncellemek için yardıma ihtiyacınız varsa, [ebeveyn onayı için Yaş doğrulaması'na](https://go.microsoft.com/fwlink/p/?linkid=874364)bakın.
  
[Ebeveyn onayı ve Microsoft alt hesapları](https://go.microsoft.com/fwlink/p/?linkid=874365)hakkında daha fazla bilgi edinin.
  