---
title: 8000038 GDPR çocuk hesabı doğrulaması
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 08/05/2021
ms.locfileid: "54057014"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Microsoft hesabında görüntülenen doğum tarihi yanlış

Microsoft, hesap güvenliğini çok ciddiye alır. Yakın zamanda bir çocuğun Microsoft hesabı için ebeveyn izni sağlamanız istenebilirsiniz. Microsoft hesabında ebeveyn onayı sağlamak veya doğum tarihini güncelleştirmek için yardıma ihtiyacınız varsa, bkz. Ebeveyn izni [için yaş doğrulaması](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Ebeveyn onayı ve [Microsoft çocuk hesapları hakkında daha fazla bilgi alın.](https://go.microsoft.com/fwlink/p/?linkid=874365)
  