---
title: Yayımcı doğrulamasında sorun giderme
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885375"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="b5d6f-102">Geliştiriciler için Publisher doğrulama ile ilgili sorunlar</span><span class="sxs-lookup"><span data-stu-id="b5d6f-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="b5d6f-103">**Önerilen adımlar**</span><span class="sxs-lookup"><span data-stu-id="b5d6f-103">**Recommended steps**</span></span> 

<span data-ttu-id="b5d6f-104">Publisher doğrulama ile ilgili sorunları çözmek için aşağıdaki adımları uygulayın:</span><span class="sxs-lookup"><span data-stu-id="b5d6f-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="b5d6f-105">Tüm karşılandığından emin olmak için önkoşulları ve diğer gereksinimleri gözden geçirin.</span><span class="sxs-lookup"><span data-stu-id="b5d6f-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="b5d6f-106">[Uygulamayı yayımcı doğrulanmış olarak işaretlemek](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) ve tüm adımların başarıyla uygulandığından emin olmak için yönergeleri gözden geçirin.</span><span class="sxs-lookup"><span data-stu-id="b5d6f-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="b5d6f-107">[Genel sorunlar](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) listesini gözden geçirin ve böyle bir listeden sorun yaşıyorsanız önerilen adımları izleyin.</span><span class="sxs-lookup"><span data-stu-id="b5d6f-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="b5d6f-108">Ek bilgi toplamak ve Kullanıcı arabirimindeki sorunları çözmek için [grafik Gezgini](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) 'ni kullanarak isteği yeniden üretin.</span><span class="sxs-lookup"><span data-stu-id="b5d6f-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="b5d6f-109">**Önerilen belgeler**</span><span class="sxs-lookup"><span data-stu-id="b5d6f-109">**Recommended documents**</span></span>

- [<span data-ttu-id="b5d6f-110">Yayımcı doğrulaması-genel bakış</span><span class="sxs-lookup"><span data-stu-id="b5d6f-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="b5d6f-111">Uygulamanızı Publisher doğrulandı olarak işaretleme</span><span class="sxs-lookup"><span data-stu-id="b5d6f-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="b5d6f-112">Yayımcı doğrulamasında sorun giderme</span><span class="sxs-lookup"><span data-stu-id="b5d6f-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

