---
title: Yayımcı doğrulamasında sorun giderme
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885375"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Geliştiriciler için Publisher doğrulama ile ilgili sorunlar

**Önerilen adımlar** 

Publisher doğrulama ile ilgili sorunları çözmek için aşağıdaki adımları uygulayın:

1. Tüm karşılandığından emin olmak için önkoşulları ve diğer gereksinimleri gözden geçirin.
2. [Uygulamayı yayımcı doğrulanmış olarak işaretlemek](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) ve tüm adımların başarıyla uygulandığından emin olmak için yönergeleri gözden geçirin.
3. [Genel sorunlar](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) listesini gözden geçirin ve böyle bir listeden sorun yaşıyorsanız önerilen adımları izleyin.
4. Ek bilgi toplamak ve Kullanıcı arabirimindeki sorunları çözmek için [grafik Gezgini](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) 'ni kullanarak isteği yeniden üretin.

**Önerilen belgeler**

- [Yayımcı doğrulaması-genel bakış](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Uygulamanızı Publisher doğrulandı olarak işaretleme](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Yayımcı doğrulamasında sorun giderme](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

